
<row class="row is-table-row" >

  <div class="col-sm-1 ">
    <%= link_to 'Create', new_at_employee_note_path , class: "btn btn-success"%>
  </div>

  <div class="col-sm-2 ">
    <h4>Listing At Employee Notes</h4>
  </div>

  <div class="col-sm-3">
    <%= search_form_for @q, class: 'search-form' do |f| %>
      <div class="input-group">
        <%= f.search_field :issue_cont, class: 'form-control' %>
        <span class="input-group-btn">
          <button class="btn btn-primary">Search <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    <% end %>
  </div>

  <div class="col-sm-4 ">
    <%= paginate @at_employee_notes %>
  </div>
  
  <div class="col-sm-2 ">
    <%= page_entries_info @at_employee_notes, :entry_name => 'item' %>
  </div>
  
</row>


<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="1"></th>
            <th>Name if not</th>
      <th>Employee</th>
      <th>Issue</th>
      <th>Date if not today</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>

  <tbody>
    <% @at_employee_notes.each do |at_employee_note| %>
      <tr>
        <td>
          <div class="btn-group">
          <%= link_to 'Show', at_employee_note, class: "btn btn-info", :style=>'color:#FFFFFF;' %>
          <%= link_to 'Edit', edit_at_employee_note_path(at_employee_note), class: "btn btn-primary", :style=>'color:#FFFFFF;' %>
          </div>
        </td>
        
        <td><%= at_employee_note.name_if_not %></td>
        <td><%= at_employee_note.employee %></td>
        <td><%= at_employee_note.issue %></td>
        <td><%= at_employee_note.date_if_not_today %></td>
        <td><%= at_employee_note.created_at %></td>
        <td><%= at_employee_note.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
