
<row class="row is-table-row" >

  <div class="col-sm-1 ">
    <%= link_to 'Create', new_employee_issue_note_path , class: "btn btn-success"%>
  </div>

  <div class="col-sm-2 ">
    <h4>Employee Issue Notes</h4>
  </div>



  <div class="col-sm-5 ">
    <%= paginate @employee_issue_notes %>
  </div>
  
  <div class="col-sm-2 ">
    <%= page_entries_info @employee_issue_notes, :entry_name => 'item' %>
  </div>
  
  <div class="col-sm-1 ">
    Sorted Updated descending
  </div>

</row>


<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="1"></th>
            <th>Issue</th>
      <th>Employee</th>
      <th>EmployeeName (If employee not in EmployeeList)</th>
      <th>Date of issue</th>
      <th>Comment</th>
      <th>EnteredBy</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>

  <tbody>
    <% @employee_issue_notes.each do |employee_issue_note| %>
      <tr>
        <td>
          <div class="btn-group">
          <%= link_to 'Show', employee_issue_note, class: "btn btn-info", :style=>'color:#FFFFFF;' %>
          <%= link_to 'Edit', edit_employee_issue_note_path(employee_issue_note), class: "btn btn-primary", :style=>'color:#FFFFFF;' %>
          </div>
        </td>
        
        <td><%= employee_issue_note.issue %></td>
        <td><%= employee_issue_note.employee %></td>
        <td><%= employee_issue_note.name_if_not %></td>
        <td><%= employee_issue_note.date_of_issue %></td>
        <td><%= employee_issue_note.comment %></td>
        <td><%= employee_issue_note.user %></td>
        <td><%= employee_issue_note.created_at %></td>
        <td><%= employee_issue_note.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
