
<row class="row is-table-row" >

  <div class="col-sm-1 ">
    <%= link_to 'Create', new_employee_issue_note_path , class: "btn btn-success"%>
  </div>

  <div class="col-sm-2 ">
    <h4>Listing Employee Issue Notes</h4>
  </div>

  <div class="col-sm-3">
    <%= search_form_for @q, class: 'search-form' do |f| %>
      <div class="input-group">
        <%= f.search_field :issue_cont, class: 'form-control' %>
        <span class="input-group-btn">
          <button class="btn btn-primary">Search <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    <% end %>
  </div>

  <div class="col-sm-4 ">
    <%= paginate @employee_issue_notes %>
  </div>
  
  <div class="col-sm-2 ">
    <%= page_entries_info @employee_issue_notes, :entry_name => 'item' %>
  </div>
  
</row>


<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="1"></th>
            <th>Issue</th>
      <th>Employee</th>
      <th>Name if not</th>
      <th>Date of issue</th>
      <th>Comment</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @employee_issue_notes.each do |employee_issue_note| %>
      <tr>
        <td>
          <div class="btn-group">
          <%= link_to 'Show', employee_issue_note, class: "btn btn-info", :style=>'color:#FFFFFF;' %>
          <%= link_to 'Edit', edit_employee_issue_note_path(employee_issue_note), class: "btn btn-primary", :style=>'color:#FFFFFF;' %>
          <%= link_to 'Destroy', employee_issue_note, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning", :style=>'color:#FFFFFF;' %>
          </div>
        </td>
        
        <td><%= employee_issue_note.issue %></td>
        <td><%= employee_issue_note.employee %></td>
        <td><%= employee_issue_note.name_if_not %></td>
        <td><%= employee_issue_note.date_of_issue %></td>
        <td><%= employee_issue_note.comment %></td>
        <td><%= employee_issue_note.user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
