
<p>
  <strong>Name if not:</strong>
  <%= @at_employee_note2.name_if_not %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @at_employee_note2.employee %>
</p>

<p>
  <strong>Issue:</strong>
  <%= @at_employee_note2.issue %>
</p>

<p>
  <strong>Date if not today:</strong>
  <%= @at_employee_note2.date_if_not_today %>
</p>

<p>
  <strong>User:</strong>
  <%= @at_employee_note2.user %>
</p>

<br>
<%= link_to 'Edit', edit_at_employee_note2_path(@at_employee_note2), class: "btn btn-primary", :style=>'color:#FFFFFF;' %> &nbsp &nbsp
<%= link_to 'Back', at_employee_note2s_path, class: "btn btn-default" %>
